.search-form-container {
  display: block;
  padding: 10px 0;

  .radio-group {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    
    ::ng-deep .mat-mdc-radio-button .mdc-label {
      font-weight: 700;
    }
  }

  .form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    
    mat-form-field {
      width: 100%;
    }
  }

  .advanced-options {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    font-size: 12px;
    color: #333;
    margin: 20px 0;
    cursor: pointer;
    text-transform: uppercase;
  }

  .form-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;

    .clear-text-btn {
      background: none;
      border: none;
      font-weight: 700;
      color: #333;
      margin-right: 30px;
      cursor: pointer;
      font-size: 13px;
    }

    .search-pill-btn {
      background-color: #0079c1;
      color: white;
      border-radius: 25px;
      padding: 10px 45px;
      border: none;
      font-weight: 700;
      cursor: pointer;

      &:disabled {
        background-color: #e0e0e0;
        color: #a0a0a0;
        cursor: not-allowed;
      }
    }
  }
}
