@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}

@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";

input[type="text"], 
input[type="email"], 
select {
  border: 1px solid black !important;
  background-color: #F4F4F4;
  border-radius: 4px;
  height: 44px;
  padding: 0 12px;
  box-sizing: border-box;
  font-size: 14px;

  &:focus {
    background-color: #FFFFFF;
    outline: 2px solid #00338D;
  }
}
textarea {
  border: 1px solid black !important;
  background-color: #f4f4f4;
  border-radius: 4px;
  height: 44px;
  padding: 0 12px;
  box-sizing: border-box;
}

.ag-theme-alpine {
  --ag-border-color: #000;
  --ag-header-background-color: #f8f9fa;
  font-family: 'Roboto', sans-serif;
  height: 400px;
}