<div class="ppa-entry-container">
    <app-tab
      [tabs]="tabs"
      [activeTabKey]="activeTabKey">
      <!-- No (tabChange) needed if using routerLink -->
    </app-tab>
  
    <div class="ppa-entry-content">
      <router-outlet></router-outlet>
    </div>
  </div>






<!-- <div class="ppa-entry-container">
    <app-tab
      [tabs]="tabs"
      [activeTabKey]="activeTabKey"
      (tabChange)="onTabChange($event)">
    </app-tab>
    <div class="ppa-entry-content">
      <router-outlet></router-outlet>
    </div>
  </div> -->