<header class="bmo-header">
  <div class="header-container">
    <div class="brand-section">
      <div class="bmo-logo-box">BMO</div>
      <nav class="main-nav">
        @for (tab of headerTabs; track tab.id) {
          <a [routerLink]="tab.routerLink" routerLinkActive="active" class="nav-item">
            {{ tab.tabName | translate }}
          </a>
        }
      </nav>
    <!-- <nav class="main-nav">
      <a routerLink="/legal-hold" routerLinkActive="active" class="nav-item">
        {{ 'HEADER.NAV_LEGAL_HOLD' | translate }}
      </a>
      <a routerLink="/bulk-upload" routerLinkActive="active" class="nav-item">
        {{ 'HEADER.NAV_BULK_UPLOAD' | translate }}
      </a>
    </nav> -->
  </div>
  <div class="user-profile-section">
    <button class="lang-switch-btn" (click)='switchLanguage()'>
      {{ currentLang === 'en' ? 'FR' : 'EN' }}
    </button>
    
    <div class="user-details">
      <span class="user-name">Jane Doe</span>
      <span class="user-role">{{ 'HEADER.USER_ROLE' | translate }}</span>
    </div>
    <div class="avatar-circle">JD</div>
  </div>
  </div>
</header>
