<p-toast></p-toast>

<div class="checker-container">
  <div class="header-toolbar">
    <div class="left-btns">
      <button pButton label="Authorize Selected" icon="pi pi-check" 
              class="p-button-secondary p-button-sm" 
              [disabled]="!selectedRecords.length"
              (click)="onAuthorizeSelected()"></button>
    </div>

    <div class="right-controls">
      <mat-form-field appearance="outline" class="mat-filter">
        <mat-label>Value Date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="filterDate" 
               (dateChange)="dt.filter($event.value, 'createdDate', 'dateIs')">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <p-dropdown [options]="currencies" [(ngModel)]="selectedCurrency" 
                  placeholder="-- All Currencies --" 
                  (onChange)="dt.filter($event.value, 'currency', 'equals')"
                  [showClear]="true" styleClass="toolbar-dropdown">
      </p-dropdown>

      <span class="p-input-icon-left search-box">
        <i class="pi pi-search"></i>
        <input pInputText type="text" placeholder="Search..." 
               (input)="dt.filterGlobal($any($event.target).value, 'contains')" />
      </span>

      <button pButton icon="pi pi-refresh" class="p-button-outlined p-button-danger p-button-sm" 
              (click)="resetFilters()"></button>
    </div>
  </div>

  <p-table #dt [value]="gridData" [(selection)]="selectedRecords" 
           dataKey="id" [paginator]="true" [rows]="10" 
           styleClass="p-datatable-sm p-datatable-gridlines"
           [globalFilterFields]="['issueName', 'account', 'id']">
    
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="issueName">Issue Name <p-sortIcon field="issueName"></p-sortIcon></th>
        <th pSortableColumn="createdDate">Value Date</th>
        <th pSortableColumn="currency">CCY</th>
        <th pSortableColumn="amount">Amount</th>
        <th style="width: 5rem">Edit</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-record>
      <tr>
        <td><p-tableCheckbox [value]="record"></p-tableCheckbox></td>
        <td>{{record.id}}</td>
        <td>{{record.issueName}}</td>
        <td>{{record.createdDate | date: 'MM/dd/yyyy'}}</td>
        <td>{{record.currency}}</td>
        <td>{{record.amount | number: '1.2-2'}}</td>
        <td class="text-center">
          <button pButton icon="pi pi-pencil" class="p-button-text p-button-info" 
                  (click)="onEditRow(record)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog [(visible)]="editDialog" header="Modify Record" [modal]="true" 
            [style]="{width: '400px'}" styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="field mb-3">
        <label class="block font-bold">Issue Name</label>
        <input pInputText [(ngModel)]="clonedRecord.issueName" />
      </div>
      <div class="field mb-3">
        <label class="block font-bold">Amount</label>
        <input pInputText type="number" [(ngModel)]="clonedRecord.amount" />
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <button pButton label="Cancel" class="p-button-text" (click)="editDialog = false"></button>
      <button pButton label="Save Changes" (click)="saveEdit()"></button>
    </ng-template>
  </p-dialog>
</div>