.toolbar-bg {
  background-color: #f8f9fa;
}

:host ::ng-deep {
  .p-datatable-sm .p-datatable-tbody > tr > td {
    padding: 0.5rem;
  }
  
  /* Ensure calendar and dropdown have uniform height */
  .p-calendar .p-inputtext, 
  .p-dropdown {
    height: 38px;
    align-items: center;
  }
}