<p-toast></p-toast>

<div class="card main-container">
  <div class="toolbar-header">
    <button pButton label="Authorize Selected" icon="pi pi-check" 
            class="p-button-secondary" [disabled]="!selectedRecords.length"
            (click)="onAuthorizeSelected()"></button>
    
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input pInputText type="text" placeholder="Search Issue Name or Account..." 
             (input)="dt.filterGlobal($any($event.target).value, 'contains')" />
    </span>

    <div class="filter-group">
      <p-datepicker placeholder="Value Date" [(ngModel)]="filterDate"></p-datepicker>
      <p-select [options]="currencies" placeholder="-- All Currencies --"></p-select>
      <button pButton label="Reset Filters" class="p-button-outlined p-button-danger"></button>
    </div>
  </div>

  <p-table #dt [value]="gridData" [(selection)]="selectedRecords" 
           dataKey="id" [paginator]="true" [rows]="10" 
           styleClass="p-datatable-sm p-datatable-gridlines"
           [globalFilterFields]="['issueName', 'account']">
    
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
        <th pSortableColumn="id">IDs <p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="issueName">Issue Name <p-sortIcon field="issueName"></p-sortIcon></th>
        <th pSortableColumn="valueDate">Value Date</th>
        <th pSortableColumn="currency">CCY</th>
        <th pSortableColumn="amount">Amount</th>
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-record>
      <tr>
        <td><p-tableCheckbox [value]="record"></p-tableCheckbox></td>
        <td>{{record.id}}</td>
        <td>{{record.issueName}}</td>
        <td>{{record.createdDate | date: 'M/d/yyyy'}}</td>
        <td>{{record.currency}}</td>
        <td>{{record.amount | number: '1.0-0'}}</td>
        <td>
          <button pButton label="Edit" class="p-button-sm p-button-info" 
                  (click)="onEditRow(record)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog [(visible)]="editDialog" header="Edit Record" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
      <div class="field">
        <label>Issue Name</label>
        <input pInputText [(ngModel)]="clonedRecord.issueName" />
      </div>
      <div class="field">
        <label>Amount</label>
        <input pInputText type="number" [(ngModel)]="clonedRecord.amount" />
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <button pButton label="Save" icon="pi pi-check" (click)="saveEdit()"></button>
    </ng-template>
  </p-dialog>
</div>